body {
 background-image: url('./registration_v4l.png');
 background-repeat: no-repeat;
 background-position: center fixed;
 background-size: cover;
 background-color: #cccccc;
 margin: 0;
 padding: 0;
 font-family: sans-serif;
}

h1{
    left: 14.5%;
    top: 0;
    padding: 5px 5px 5px 5px;
    position: absolute;
    font-size: 32px;
    color: #490665
}

.reg_form{
  width: 400px;
  height: 600px;
  background: #280763;
  opacity: 0.6;
  color: #ffffff;
  top: 10%;
  left: 10%;
  position: absolute;
  box-sizing: border-box;
  padding: 30px 30px 30px 30px;
}

.reg_form label{
  margin: 0;
  padding: 1px 1px 1px 1px;
  font-weight: medium;
}

.reg_form input[type="text"], input[type="number"], input[type="date"] {
    width: 50%;
    border: none;
    border-bottom: 1px solid #ffffff;
    background: transparent;
    outline: none;
    height: 20px;
    color: #ffffff;
    font-size: 16px;
}

.reg_form input[type="submit"], input[type="reset"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #5f3076;
    color: #ffffff;
    font-size: 18px;
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
}

.reg_form input[type="reset"]
{
    margin-left: 200px;
}

.reg_form a{
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}
